@use 'functions';

$color-black: #121212;
$color-dark-blue: #19202D;
$color-white: #FFFFFF;
$color-grey-100: #E7EAEE;
$color-grey-200: #CFCFCF;
$color-grey-300: #A3AAB4;
$color-grey-400: #676D7E;
$color-grey-500: #48556A;
$color-purple-50: #EDE4FF;
$color-purple-300: #A775F1;
$color-purple-500: #733FC8;

$space-80px: functions.to-rem(80px);
$space-60px: functions.to-rem(60px);
$space-40px: functions.to-rem(40px);
$space-32px: functions.to-rem(32px);
$space-24px: functions.to-rem(24px);
$space-16px: functions.to-rem(16px);
$space-8px: functions.to-rem(8px);
$space-4px: functions.to-rem(4px);

$radius-8px: functions.to-rem(8px);
$max-content-width: functions.to-rem(1114px);
$phone-width: functions.to-rem(600px);
$tablet-width: functions.to-rem(960px);

$text-scale-factor-partial: 0.5;
$text-scale-factor-viewport: 0.5vw;
$text-scale-factor-max: 2;

$text-preset-1-font-size-min: functions.to-rem(20px);
$text-preset-1-font-size-partial: $text-preset-1-font-size-min * $text-scale-factor-partial;
$text-preset-1-font-size-max: $text-preset-1-font-size-min * $text-scale-factor-max;
$text-preset-2-font-size-min: functions.to-rem(13px);
$text-preset-2-font-size-partial: $text-preset-2-font-size-min * $text-scale-factor-partial;
$text-preset-2-font-size-max: $text-preset-2-font-size-min * $text-scale-factor-max;
$text-preset-3-font-size-min: functions.to-rem(13px);
$text-preset-3-font-size-partial: $text-preset-3-font-size-min * $text-scale-factor-partial;
$text-preset-3-font-size-max: $text-preset-3-font-size-min * $text-scale-factor-max;
$text-preset-4-font-size-min: functions.to-rem(11px);
$text-preset-4-font-size-partial: $text-preset-4-font-size-min * $text-scale-factor-partial;
$text-preset-4-font-size-max: $text-preset-4-font-size-min * $text-scale-factor-max;

@mixin tablet-and-up {
  @media (min-width: $phone-width) {
    @content
  }
}

@mixin desktop-and-up {
  @media (min-width: $tablet-width) {
    @content
  }
}

@mixin text-preset-1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: clamp($text-preset-1-font-size-min, $text-preset-1-font-size-partial + $text-scale-factor-viewport, $text-preset-1-font-size-max);
  line-height: 120%;
  letter-spacing: 0;
}

@mixin text-preset-2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: clamp($text-preset-2-font-size-min, $text-preset-2-font-size-partial + $text-scale-factor-viewport, $text-preset-2-font-size-max);
  line-height: 110%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: clamp($text-preset-3-font-size-min, $text-preset-3-font-size-partial + $text-scale-factor-viewport, $text-preset-3-font-size-max);
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: clamp($text-preset-4-font-size-min, $text-preset-4-font-size-partial + $text-scale-factor-viewport, $text-preset-4-font-size-max);
  line-height: 110%;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-grey-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2, p {
  margin: 0;
}

#app {
  padding: $space-80px $space-32px;
  max-width: $max-content-width;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: $space-32px;
  column-gap: $space-32px;

  @include tablet-and-up {
    grid-template-columns: calc(50% - $space-16px) calc(50% - $space-16px);
    grid-template-rows: calc(25% - $space-24px) calc(25% - $space-24px) calc(25% - $space-24px) calc(25% - $space-24px);
  }

  @include desktop-and-up {
    grid-template-columns: calc(25% - $space-24px) calc(25% - $space-24px) calc(25% - $space-24px) calc(25% - $space-24px);
    grid-template-rows: calc(50% - $space-16px) calc(50% - $space-16px);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.backgroundDarkBlue {
  background-color: $color-dark-blue;
}

.backgroundGrey500 {
  background-color: $color-grey-500;
}

.backgroundPurple500 {
  background-color: $color-purple-500;
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 200% top;

  @include tablet-and-up {
    background-position: 90% top;
  }

  @include desktop-and-up {
    background-position: 85% top;
  }
}

.backgroundWhite {
  background-color: $color-white;
}

.border2PixelPurple {
  border: 2px solid $color-purple-300;
}

.card {
  box-shadow: 32px 64px 40px -10px rgb($color-grey-300, 0.5);
  border-radius: $radius-8px;
  padding: $space-32px;
  display: flex;
  flex-direction: column;
  row-gap: $space-16px;
}

.card1 {
  @include tablet-and-up {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
  }

  @include desktop-and-up {
    grid-column: 1 / span 2;
    grid-row: 1 / 1;
  }
}

.card2 {
  @include tablet-and-up {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  @include desktop-and-up {
    grid-column: 3 / span 1;
    grid-row: 1 / 1;
  }
}

.card3 {
  @include tablet-and-up {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  @include desktop-and-up {
    grid-column: 1 / span 1;
    grid-row: 2 / 2;
  }
}

.card4 {
  @include tablet-and-up {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
  }

  @include desktop-and-up {
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
  }
}

.card5 {
  @include tablet-and-up {
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
  }

  @include desktop-and-up {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}

.cardTextPrimary {
  @include text-preset-1;
}

.cardTextSecondary {
  @include text-preset-3;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $space-16px;
}

.cardHeaderImage {
  border-radius: 100%;
  height: functions.to-rem(32px);
  width: functions.to-rem(32px);
}

.cardHeaderInfo {
  display: flex;
  flex-direction: column;
  row-gap: $space-4px;
}

.cardHeaderInfoName {
  @include text-preset-2;
}

.cardHeaderInfoTitle {
  @include text-preset-4;
}

.textColorGrey100 {
  color: $color-grey-100;
}

.textColorGrey200 {
  color: $color-grey-200;
}

.textColorGrey300 {
  color: $color-grey-300;
}

.textColorGrey400 {
  color: $color-grey-400;
}

.textColorGrey500 {
  color: $color-grey-500;
}

.textColorPurple50 {
  color: $color-purple-50;
}

.textColorWhite {
  color: $color-white;
}